#welcome-font{
    background-image: url("https://imgur.com/A5DfJE4.gif");
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-size: 8vw;
    color: #abbaba;

}

body{
    background-color: #000203;
}